.cards {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .card {
    flex-basis: 25%;
    padding: 20px;
    border-radius: 14px;
    border: 1px solid #000;
  }
}

a {
  text-decoration: none;
  color: rgb(12, 101, 201);
}
.but1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 10px;
}
.vmes {
  display: flex;
  justify-content: space-around;
}

.user-todo-row {
  display: grid;
  grid-gap: 30px;
  color: #fff;
  padding-bottom: 150px;
}

.user {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
